@{
    ViewBag.Title = "Amenities";
}
<legend class="legend">@ViewBag.Title</legend>
    <div class="row" id="amenities">
        <h2 class="text-center">Housing Features</h2>
        <div class="panel">
            <div class="houseFeatures panel-body">
                <img src="~/Image/c9pd7zcx.jpg" alt="Placeholder Image" class="img-rounded img-responsive pull-left" />
                <div id="houseFeatureList">
                    <ul>
                        <li>Private Balconies &amp; Patios</li>
                        <li>Walk-in Closets*</li>
                        <li>Waster/Dryer Hookups*</li>
                        <li>Stainless Steel Appliances*</li>
                        <li>Built in Microwaves</li>
                        <li>Granite Countertops*</li>
                        <li>Custom Wall Paint</li>
                        <li>Brushed Nickel Fixtures*</li>
                        <li>Ceiling Fans</li>
                        <li>Oak Cabinetry</li>
                        <li>Wood Mini Blinds</li>
                        <li>Dishwashers</li>
                        <li>Garbage Disposals</li>
                        <li>Frost Free Referigerator w/ Ice Makers</li>
                    </ul>
                    <p>*Select apartment homes</p>
                </div>
            </div>
            <h2 class="text-center">Community Features</h2>
            <div class="communityFeatures panel-body">
                <img src="~/Image/placeholder1.jpg" alt="Placeholder Image" class="img-rounded img-responsive pull-right" />
                <div id="houseFeatureList">
                    <ul>
                        <li>Beach Entry Swimming Pool</li>
                        <li>State of the Art Fitness Center</li>
                        <li>Kids Play Room</li>
                        <li>Stadium Seating Movie Theather w/ DVD Collection</li>
                        <li>Tanning Salon</li>
                        <li>Aerobics Studio w/ Free Fitness Classes</li>
                        <li>Internet Cafe</li>
                        <li>Brushed Nickel Fixtures*</li>
                        <li>Free Clubhouse Wifi</li>
                        <li>Two Lighted Tennis Courts</li>
                        <li>Laundry Units in Every Building</li>
                        <li>Stocked Fishing Pond</li>
                        <li>Playground</li>
                        <li>Pet Park - We are pet friendly!</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
