@model Apartment.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<br />
<h2><em>@ViewBag.Title Your Account</em></h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
    @Html.ActionLink("Back to Profile", "Index", "Manage")
</div>