
@{
    ViewBag.Title = "Complete";
}
<legend class="legend">Payment @ViewBag.Title</legend>
<div class="panel">
    <div class="panel-body">
        <br />
        <button onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-success">Back to Home</button>
    </div>
</div>