body {
    padding-top: 70px;
    padding-bottom: 70px;
}

.body-content {
    padding-left: 150px;
    padding-right: 150px;
}
.miniBody_content{
    padding-left: 15px;
    padding-right: 15px;
}
.dl-horizontal dt {
    white-space: initial;

}
.editor label{
    float: left;
    width: 350px;
    text-align:left;
}
.editor input[type=text]{
    width: 275px;
    margin-left: 20px;
}
.creator label{
    float: left;
    width: 200px;
    text-align:left;
}
.creator input[type=text]{
    width: 250px;
    margin-left: 20px;
}
.editorFile label{
    float: left;
    width: 350px;
}
.editorFile input{
    margin-left: 20px;
}
fieldset{
    margin-bottom: 10px;
}
.subFieldset{
    padding-left: 20px;
    padding-right: 20px;
}
.subFieldset input[type='text']{
    margin-left: 0;
}

.editorTerms label{
    float: right;
    width: auto;
    text-align: left;
}
.editorTerms span{
    margin-left: 30px;
    font-size: 120%;
    font-weight: 500;
}
input,
select,
textarea {
    max-width: 800px;
    display: inline-block !important;
}
#checkBox{
    padding-left: 30px;
}
#appCall{
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
}
#appBtn{
    margin-top: 15px;
    margin-bottom: 15px;
}
#appDiv h1{
    padding-bottom: 0;
}
#appDiv h5{
    font-weight:bold;
}
#vehicleForm, #emergencyForm, #spouseForm h3{
    margin: 30px 0 15px 20px;
}
#paymentTable{
    margin-left: 30px;
}
.spaceUnder > td{
    padding-bottom: 20px;
}
.payment button{
    margin-left: 40px;
}
.userSection{
    margin-top: 40px;
    margin-bottom: 50px;
}
#contactForm{
    padding-left: 20px;
    font-style: italic;
}
#contactForm fieldset{
    margin-bottom: 10px;
}
#contactForm label{
    float: left;
    width: 200px;
}
#contactForm input[type=text]{
    width: 290px;
    line-height: 2em;
}
.petSpan{
    font-size: 14px;
}
.passwordLink{
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
    font-style: italic;
}
.legend{
    padding-top: 30px;
    font-size: 200%;
    font-style: italic;
}
.carousel{
    margin-top: 30px;
}
.carousel img{
    width: 100%;
}
.jumboLegend{
    font-size: 180%;
    font-style: italic;
}
.houseFeatures{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #6f6f6f;
}
.houseFeatures img{
    margin-right: 120px;
}
.houseFeatures ul, .communityFeatures ul{
    margin-top: 40px;
}

#indexContent{
    margin-bottom: -20px;
}
#indexContent span{
    font-size: 1.25em;
}
#indexContent p{
    margin-left: 20px;
}
#passwordiv{
    margin-left: 20px;
}